.editorBox {
	border: solid;
	margin: 10px;
	margin-bottom: 10px;
}
h1 {
	display: flex;
	justify-content: center;
}


.leftBlock {
	text-align: left;
}

.centerBlock {
	text-align: center;
}

.rightBlock {
	text-align: right
}
.root {
    font-family: '\'Georgia\', serif';
    font-size: 14;
    padding: 20;
    width: 600;
}
.editor {
    border-top: '1px solid #ddd';
    cursor: 'text';
    font-size: 16;
    margin-top: 20;
    min-height: 400;
    padding-top: 20;
}
.controls {
    font-family: '\'Helvetica\', sans-serif';
    font-size: 14;
    margin-bottom: 10;
    user-select: 'none';
}
.styleButton {
    color: '#999';
    cursor: 'pointer';
    margin-right: 16;
    padding: '2px 0';
}
.doclist {
    display: flex;
    align-content: center;
    width: 75%;
    background-color: blue;
}
.homeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.buttonSet {
    display: flex;
    justify-content: center;
}

.my-Input {
    border-right: 1px solid transparent;
    border-color: red;
}
.my-Input:focus {
    animation: PulseAttention 1.5s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

@keyframes PulseAttention {
    50% {
        border-color: red;
    }
}
