.editorBox {
	border: solid;
	margin: 10px;
	margin-bottom: 10px;
}
h1, p {
	display: flex;
	justify-content: center;
}


.leftBlock {
	text-align: left;
}

.centerBlock {
	text-align: center;
}

.rightBlock {
	text-align: right
}
.root {
    font-family: '\'Georgia\', serif';
    font-size: 14;
    padding: 20;
    width: 600;
}
#editor :global(.public-DraftEditor-content) {
    box-shadow: 0px 0px 20px 1px grey;
    padding: 5px;
    cursor: text;
    font-size: 16;
    width: 85%;
    height: 65vh;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}
.controls {
    font-family: '\'Helvetica\', sans-serif';
    font-size: 14;
    margin-bottom: 10;
    user-select: 'none';
}
.styleButton {
    color: '#999';
    cursor: 'pointer';
    margin-right: 16;
    padding: '2px 0';
}
.doclist {
    display: flex;
    align-content: center;
    width: 75%;
    background-color: blue;
    margin: 1%;
    border-radius: 5px;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.buttonLine {
    display: flex;
    justify-content: center;
    margin: 1%;
}
.backButton {
    margin: 10px;
}
.toolbar {
    display: flex;
    justify-content: center;
}
.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.d {
    overflow-y: scroll;
    max-height: 50vh;
}

.my-Input {
    border-right: 1px solid transparent;
    border-color: red;
}
.my-Input:focus {
    animation: PulseAttention 1.5s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

@keyframes PulseAttention {
    50% {
        border-color: red;
    }
}
